/* 转载请保留版权信息：懒人图库 www.lanrentuku.com */
body{background:#000;}
#divv{
	position: relative;
	width: 200px;
	height: 200px;
}
#div1{position:absolute;left: 0;right: 0;bottom: 0;top: 0;}
#div1 span{position:absolute;top:0px;left:0px;color:#aaa;font-weight:bold;padding:3px 6px;}
#divv img{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	z-index: 9999;
	transform: translate(-50%,-50%);
}